<div class="container-fluid">

  <h4>My movies</h4>

  <%= link_to "Wishes", my_movies_path %>
  <%= "Seen" %>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-xs-6">
        <div class="card">
          <div class="movie-poster" style="background-image: url(<%= tmdb_image_path(movie.poster) %>)">
          </div>
          <div class="movie-title">
            <%= movie.title %>
          </div>
          <div class="movie-infos">
            <%= movie.release_year %>
          </div>
            <%= link_to "", my_movie_path(movie), class: "movie-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
