<% content_for(:body_class, "flex-column") %>


<div class="backdrop">
  <div class="backdrop-img" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= "https://image.tmdb.org/t/p/w500/#{@movie_tmdb['backdrop_path']}" %>')"></div>
  <div class="container-fluid backdrop-content">
    <div class="row">
      <div class="poster col-xs-6">
        <%= tmdb_image_tag("#{@movie_tmdb['poster_path']}", style: "width: 100%;") %>
      </div>
      <div class="infos col-xs-6">
        <h2><%= @movie_tmdb['original_title'].upcase %></h2>
        <p><%= @movie_tmdb['release_date'] %></p>
        <p> <%= @movie_tmdb['genres'].map { |genre| genre["name"] }.join(', ') %></p>

        <% if !@movie.released? && !@opinion[:release_mail] %>
          <%= link_to "Email me at release", movie_notifications_path(@movie), method: :post, class: "btn btn-block btn-mailer" %>
        <% elsif !@movie.released? && @opinion[:release_mail] %>
          <p class="email-sent"> We will send you an email at release</p>
        <% elsif @movie.released? && !@opinion[:seen] %>
          <%= link_to "I've seen it", movie_seen_movies_path(@movie), method: :post, class: "btn btn-block btn-mailer" %>
        <% end %>

      </div>
    </div>
    <div class="synopsis">
      <p><%= @movie_tmdb['overview'] %></p>
    </div>

    <% if @movie.status == "In theaters" && @allocine_movie_parsed["feed"]["movie"] != nil && @theaters_showtimes_parsed["feed"]["totalResults"] != 0 %>


        <% @theaters_showtimes.each do |theater_showtimes|%>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <%= theater_showtimes["place"]["theater"]["name"]%> - <%= theater_showtimes["place"]["theater"]["distance"]%>km
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <% theater_showtimes["movieShowtimes"].each do |movie_showtime| %>
                <div class="panel-body">
                    <% movie_showtime["scr"].each do |screen| %>
                      <% screen["t"].each do |hour|%>
                        <% content = "#{hour["$"]} - #{movie_showtime["version"]["original"] == "true" ? "VO" : "VF"}" %>
                        <% url = movie_showtime["ticketing"] %>
                        <%= link_to content, url %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to "< Back to my movies", my_movies_path, class: "back-link" %>

    <% if @movie.status == "Classic" && @datas["data"]["movie_count"] != 0 %>
    <div class="skull">
      <%= link_to image_tag("skull.png"), @movie_torrent %>
    </div>
    <% end %>
  <div class="mm-modal">
    <%= link_to "x", my_movie_path(@movie_tmdb), class: "button-quit" %>
    <% key = @movie_tmdb.dig('videos', 'results').try(:first).try(:dig, 'key') %>
    <%= render "trailers/youtube_iframe", class: "video", youtube_key: key %>
    <%= link_to "", my_movie_path(@movie_tmdb), class: "mm-modal-quit" %>
  </div>
</div>













