<% content_for(:body_class, "flex-column") %>


<div class="backdrop">
  <div class="backdrop-img" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= "https://image.tmdb.org/t/p/w500/#{@movie['backdrop_path']}" %>')"></div>
  <div class="container-fluid backdrop-content">
    <div class="row">
      <div class="poster col-xs-6">
        <%= tmdb_image_tag("#{@movie['poster_path']}", style: "width: 100%;") %>
      </div>
      <div class="infos col-xs-6">
        <h2><%= @movie['original_title'] %></h2>
        <p><%= @movie['release_date'] %></p>
        <p><%= @movie['genres'][0]['name'] %>,<%= @movie['genres'][1]['name'] %></p>
      </div>
    </div>
    <div class="synopsis">
      <p><%= @movie['overview'] %></p>
    </div>
  </div>
  <div class="mm-modal">
    <p class="button-quit">x</p>
    <% key = @movie.dig('videos', 'results').try(:first).try(:dig, 'key') %>
    <%= render "trailers/youtube_iframe", class: "video", youtube_key: key %>
    <%= link_to "", my_movie_path(@movie), class: "mm-modal-quit" %>
  </div>
</div>

