<% if @movie != nil && @movie.status == "In theaters" && @allocine_movie_parsed["feed"]["movie"] != nil && @theaters_showtimes_parsed["feed"]["totalResults"] != 0 %>
  <div class="showtime-modal">
     <a href="#" class="showtime-modal-close">x</a>
    <% if @movie.status == "In theaters" && @theaters_showtimes_parsed["feed"]["totalResults"] != 0 %>
      <h3><%= @movie.title %></h3>
        <% @theaters_showtimes.each do |theater_showtimes|%>
          <p> <%= theater_showtimes["place"]["theater"]["name"]%> -
          <%= theater_showtimes["place"]["theater"]["distance"]%>km
          <p>
            <% theater_showtimes["movieShowtimes"].each do |movie_showtime| %>
              <% movie_showtime["scr"].each do |screen| %>
                <% screen["t"].each do |hour|%>
                  <% content = "#{hour["$"]} - #{movie_showtime["version"]["original"] == "true" ? "VO" : "VF"}" %>
                  <% url = hour["tk"] %>
                  <% if url.nil? %>
                    <%= content %>
                  <% else %>
                    <%= link_to content, url, target: "_blank" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </p>
          <hr>
        <% end %>
      <% end %>
    <%= link_to "", trailers_path, class: "" %>
  </div>
  <script>
    var close = document.querySelector('.showtime-modal-close');
    var showtimeModal = document.querySelector(".showtime-modal");
    if (close) {
      close.addEventListener('click', function() {
        showtimeModal.remove();
      });
    }
    document.addEventListener('click', function(event) {
      if (event.target !== showtimeModal) {
        showtimeModal.remove();
      }
    })
  </script>
<% end %>

<div class="container-fluid item <%= "active" if active %>">
  <% key = trailer.dig('videos', 'results').try(:first).try(:dig, 'key') %>
  <% if key.present? %>
    <%= render "trailers/youtube_iframe", class: "video", youtube_key: key %>
  <% end %>
  <%= trailer['title'] %>
  <div class="buttons-like-dislike">
    <%= simple_form_for :opinion, url: opinions_path, method: :post, remote: true do |f| %>
      <%= f.input :value, input_html: { value: false }, as: :hidden %>
      <%= f.input :tmdb_id, input_html: { value: trailer["id"] }, as: :hidden %>
      <%= f.submit "Dislike", class: "button-dislike"  %>
    <% end %>

    <%= simple_form_for :opinion, url: opinions_path, method: :post, remote: true do |f| %>
      <%= f.input :value, input_html: { value: true }, as: :hidden %>
      <%= f.input :tmdb_id, input_html: { value: trailer["id"] }, as: :hidden %>
      <%= f.submit "Like", class: "button-like" %>
    <% end %>
  </div>



</div>


