<div class="item <%= "active" if active %>">
  <% key = trailer.dig('videos', 'results').try(:first).try(:dig, 'key') %>
  <% if key.present? %>
    <%= render "trailers/youtube_iframe", youtube_key: key %>
  <% end %>
  <%= trailer['title'] %>
  <div class="buttons-like-dislike">
    <%= simple_form_for :opinion, url: opinions_path, method: :post, remote: true do |f| %>
      <%= f.input :value, input_html: { value: false }, as: :hidden %>
      <%= f.input :tmdb_id, input_html: { value: trailer["id"] }, as: :hidden %>
      <%= f.submit "Dislike", class: "button-dislike"  %>
    <% end %>

    <%= simple_form_for :opinion, url: opinions_path, method: :post, remote: true do |f| %>
      <%= f.input :value, input_html: { value: true }, as: :hidden %>
      <%= f.input :tmdb_id, input_html: { value: trailer["id"] }, as: :hidden %>
      <%= f.submit "Like", class: "button-like" %>
    <% end %>
  </div>

</div>
