<div class="container">
  <%= simple_form_for :filter, url: filters_path, method: :post do |f| %>
    <%= f.input :moment, label: "What are you looking for?", collection: @moments, as: :radio_buttons%>
    <hr>

    <h4> Pick your favorite genres:</h4>
    <div class="collection-check-boxes">
      <div class="row">
        <%= f.collection_check_boxes :genre_ids, @genres, :tmdb_id, :name do |input| %>
          <div class="col-xs-6">
            <label>
              <%= input.check_box %>
              <div class="check-box">
                <i class="fa fa-check-square-o checked" aria-hidden="true"></i>
                <i class="fa fa-square-o unchecked" aria-hidden="true"></i>
                <%= image_tag input.object.picture, class: "picture" %>
                <span class: "text-icon" > <%= input.text %></span>
              </div>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <%= f.button :submit, class: "btn btn-block"  %>
    </div>
  <% end %>
</div>


