<div class="container">

  <%= simple_form_for :filter, url: filters_path, method: :post do |f| %>
    <div class="check-box-moment" style="height: 100vh; display: flex;height: 100vh; flex-direction: column; justify-content: center;">
      <h4> OIHA ZOIDHAOIZDHOIAZHDOIAZHD</h4>
      <div id="button" class="custom-collection-radio-buttons">
        <%= f.collection_radio_buttons :moment, @moments, :to_s, :to_s, checked: @selected_moment do |input| %>
          <label class="custom-radio-button-label">
            <%= input.radio_button %>
            <span class="custom-radio-button"></span>
            <%= input.text %>
          </label>
          <br>
        <% end %>
      </div>
    </div>

    <h4> Pick your favorite genres:</h4>
    <div class="collection-check-boxes">
      <div class="row">
        <%= f.collection_check_boxes :genre_ids, @genres, :tmdb_id, :name, checked: @selected_genre_ids do |input| %>
          <div class="col-xs-6">
            <label class="check-box-label">
              <%= input.check_box %>
              <div class="check-box" style="background-image: url(<%= image_path input.object.picture %>)">
                <div class="check-box-filter">
                  <%= image_tag "validate.png", class: "icon-checked" %>
                  <div class="text-icon" > <%= input.text %></div>
                </div>
              </div>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <%= f.button :submit, class: "btn btn-block" %>
    </div>
  <% end %>
</div>
